# Ignore build files and IDE/project files
.idea
.vs
.vscode
.DS_Store
/site/
/dist/
nul
build

# librc2d android project
**/local.properties
**/.gradle/
**/app/build/
**/app/.cxx/

# Dependency directories
/dependencies/

# Compiled object files
docker-build-output

/examples/shaders/tools/
/examples/assets/shaders/tools/
/examples/assets/shaders/scripts/

# For project Windows
platforms/windows/resource.rc